/*------color palett-------

rgb(25, 40, 68)  indigo 
rgb(27, 114, 191) blue azzure (used for links)
rgb(229, 86, 7)  orange
rgb(2, 191, 236) light blue
rgb(242, 231, 80) yellow
rgb(229, 249, 248) white (body=background)

*/


/****font_face----------------------------------------------*/


/*****Open_Sance*********************************/

@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("fonts/Open_Sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Kalam";
    src: url("fonts/kalam-light.ttf");
}


/***-global-style-********************************************/

html {
    background-color: white;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#border {
    width: 70%;
    height: 5px;
}

.logo {
    width: 55%;
    position: absolute;
    padding-top: 5px;
}


/***-typography-style-********************************************/

h1,
h2,
h3,
h4,
a,
button,
ul,
span,
strong,
input {
    font-family: "Poppins-Regular";
    clear: both;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    color: rgb(25, 40, 68);
}

span {
    font-weight: 600;
    font-size: x-large;
}

h1 {
    font-family: "Poppins-Bold";
    line-height: 40px;
    font-size: 20px;
}

h2 {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    margin: 0px 0px 0px 40px;
}

h3 {
    font-family: "Poppins-Regular";
    font-size: 16px;
    margin: 0px 10px 5px 10px;
}

h4 {
    font-family: "Kalam";
    position: relative;
    font-size: 12px;
}

p {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    text-align: justify;
    margin: 10px 10px 10px 10px;
}

a {
    font-family: "Poppins-SemiBold";
    text-decoration: none;
    font-size: 20px;
    color: rgb(27, 114, 191);
    margin: 10px 10px 10px 10px;
    line-height: 46px;
}

ul {
    font-size: 20px;
}


/***-button-style-********************************************/

button,
.submit {
    display: block;
    max-width: 300px;
    margin: auto;
    background-color: rgb(27, 114, 191);
    border: none;
    color: white;
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #163653;
    border: 1px solid #163653;
}

button:hover {
    background-color: #163653;
    color: white;
    box-shadow: 0 8px 6px -6px black;
}

.button {
    margin: 20px;
}

.submit {
    padding: 10px 60px;
    font-size: 18px;
    border: none;
}

.submit:hover {
    background-color: #163653;
    color: white;
    box-shadow: 0 8px 6px -6px black;
}


/***-label-ul-li-a-style-********************************************/

label {
    height: 100px;
    display: block;
    cursor: pointer;
    padding: 5px 25px 0 0;
    color: rgb(242, 231, 80);
    font-size: 35px;
    line-height: 70px;
}

input {
    box-shadow: 0 8px 6px -6px black;
    border: none;
}

li:before {
    content: "\2192";
    margin-right: 50px;
}

li:hover {
    text-transform: uppercase;
    color: rgb(25, 40, 68);
    font-weight: 600;
}

ul {
    line-height: 1.9em;
    list-style: none;
    text-align: justify;
    text-decoration: none;
}


/***-nav-menu-style-********************************************/

nav {
    height: 70px;
    background-image: url(images/header1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-style {
    text-align: right;
}

.menu {
    text-align: center;
    display: none;
}

.menu a {
    margin: -30px 0px 30px 0px;
    display: block;
    position: relative;
    border-bottom: 1px solid rgb(25, 40, 68);
    text-decoration: none;
    font-size: 22px;
    background: yellow;
    color: rgb(25, 40, 68);
    line-height: 70px;
}

.menu a:hover {
    background: rgb(25, 40, 68);
    color: rgb(242, 231, 80);
    text-decoration: none;
    font-size: 24px;
}

#toggle {
    display: none;
}

#toggle:checked+.menu {
    display: block;
}


/***-banner-style-********************************************/

.banner {
    margin-bottom: 10px;
}


/***-banner-style-********************************************/


/***-section-global-style********************************************/

#content {
    margin: 10px 5px 10px 5px;
}

#stylebox {
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 10px 15px 10px;
}

#stylebox p {
    text-align: justify;
}


/***-section-boxing-style********************************************/


/***-program-hour********************************************/

.program-hour {
    background-image: url(images/background_intro.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.entrance {
    font-size: 20px;
    margin-bottom: 20px;
}

.program-hour h1 {
    color: rgb(242, 231, 80);
}

.program-hour h2 {
    margin: -5px auto auto auto;
}

.program-hour h3 {
    color: rgb(242, 231, 80);
}

.program-hour ul {
    color: rgb(242, 231, 80);
}

.program-hour strong {
    color: rgb(242, 231, 80);
}

.program-hour span {
    color: rgb(242, 231, 80);
}


/***-what-happening********************************************/


/***-special-events-professor-of-aeronautics********************************************/


/***special-events--night-in-the-museum********************************************/


/***-woolly-mammoth********************************************/

.woolly-mammoth {
    background: rgb(229, 86, 7);
    color: white;
}

.intro_mammoth {
    margin-top: 20px;
    text-align: center;
}

.woolly-mammoth h3 {
    color: white;
    margin: 0px 10px 10px 20px;
}

.woolly-mammoth p {
    color: white;
}

.woolly-mammoth a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.woolly-mammoth button {
    color: rgb(229, 86, 7);
    border: none;
}

.woolly-mammoth button:hover {
    background-color: #b23f20;
    color: white;
    box-shadow: 0 8px 6px -6px black;
}


/***-get-involved********************************************/

.get-involved {
    background: rgb(2, 191, 236);
}

.get-involved button {
    color: #163653;
    border: none;
}

.get-involved button:hover {
    background-color: #163653;
    color: white;
    box-shadow: 0 8px 6px -6px black;
}


/***-event-highlights********************************************/

#stylebox.event-highlights {
    background-image: url(images/backgrund_events.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-highlights a {
    font-size: 22px;
    color: rgb(27, 114, 191);
    text-decoration: none;
}

.event-highlights a:before {
    content: "\2605";
    margin-right: 10px;
}

.event-highlights a:hover {
    text-transform: uppercase;
    font-weight: 600;
}


/***-newsletter********************************************/

#stylebox.newsletter {
    border: 1px solid rgb(27, 114, 191);
}

form {
    display: flex;
    flex-direction: column;
    height: 160px;
    background: rgb(27, 114, 191);
}

#email {
    height: 30px;
    margin: 20px 20px 0px 20px;
}


/***-footer-style********************************************/

#footer-style {
    background-image: url(images/museum.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.flex-content {
    display: flex;
    flex-direction: column;
}

.info-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.flex-content .border {
    margin-top: 20px;
}

.info-links a {
    color: rgb(242, 231, 80);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin: -2px auto;
}

.style-icons {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

#footer-icons h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    color: rgb(242, 231, 80);
}

#footer-icons a {
    color: rgb(242, 231, 80);
    margin: 25px;
    font-size: 30px;
}

.footer-coyright {
    margin: auto;
    text-align: center;
}

.footer-coyright h4 {
    padding: 10px;
    color: rgb(242, 231, 80);
}


/***-footer-style-end*****************************/


/***-media-min-width:410px*****************************/

@media only screen and (min-width:701px) {
    .border_h1 {
        visibility: hidden;
    }
    h1 {
        font-size: 24px;
    }
    .button {
        margin-top: 50px;
    }
    .text-box {
        margin-top: 20px;
    }
    #flex_box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .event_subscribe {
        display: flex;
        flex-direction: row;
        background-image: url(images/background_get_involved.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #stylebox.newsletter {
        width: 45%;
        color: rgb(25, 40, 68);
        margin: 20px 20px 20px 0px;
        background-image: url(images/background_submit.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(242, 231, 80);
    }
    .newsletter h1 {
        margin-top: 50px;
        color: rgb(242, 231, 80);
    }
    .newsletter form {
        background-color: transparent;
        margin-top: 30px;
    }
    .newsletter .submit {
        margin-top: 80px;
    }
    #email {
        font-size: 18px;
        margin: 20px 10px 20px 10px;
    }
    #stylebox.event-highlights {
        width: 55%;
        margin: 20px 10px 20px 20px;
        height: 490px;
        border: none;
    }
    .event-highlights button {
        width: 400px;
        margin-top: -25px;
    }
    .event-highlights h2 {
        margin-top: -5px;
    }
}